/* Contact Page */
#contactMe {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.availability {
  margin-bottom: 1em;
  color: #aaa;
  opacity: 0.3;
  text-align: center;
  letter-spacing: -0.2px;
}

.contactInfo {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: -0.2px;
}

.contactMailWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.contactMail {
  position: absolute;
  color: #fff;
  font-size: 0.95em;
  background-color: transparent;
  border-style: none;
}

.contactMail:hover {
  cursor: pointer;
}

.contactScheduleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.contactSchedule {
  background-color: #222;
  border: none;
}

#consultation h4 {
  color: #aaa;
  opacity: 0.5;
  font-weight: 200;
  font-size: 0.8em;
  text-decoration: underline;
}

#consultation:hover > h4 {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* Devices with 1200px width and below. (Laptops and Desktops) */
@media only screen and (max-width: 1400px) {
  .contactWrapper {
    width: 60%;
  }

  .contactSchedule {
    font-size: 0.8em;
    letter-spacing: -0.2px;
  }
}

/* Devices with 768px width and below. (Landscape Tablets) */
@media only screen and (max-width: 768px) {
  #contactMe,
  .contactWrapper {
    width: 100%;
    text-align: center;
    font-size: 0.95em;
    margin-top: 5em;
  }

  .contactMail {
    font-size: 1em;
  }

  .availability {
    font-size: 0.7em;
  }
}
