/* Portfolio */
main {
  height: 100%;
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
}

#portfolio {
  height: 100vh;
  padding: 1.5em;
  display: flex;
  align-items: center;
  overflow-x: auto;

  z-index: 10;
  transition: 0.35s;
}

.pfWrapper {
  display: flex;
  align-items: center;
}

#portfolio::-webkit-scrollbar {
  display: none;
}

.pfCard {
  padding: 2em;
  margin-right: 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 50vh;
  min-width: 40vw;
  border-radius: 0.75em;
}

/* Card Backgrounds */
#haides {
  background-color: #333;
}

#uc {
  background-color: rgba(145, 225, 178, 0.5);
}

#bcitma {
  background-color: rgba(44, 115, 254, 0.5);
}

#cannadiscount {
  background-color: rgba(104, 220, 83, 0.5);
}

.pfTop {
  position: relative;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.pfBottom {
  position: relative;
  top: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* Roles */
.roles {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.25em;

  color: #fff;
  text-align: start;
}

.subheaders {
  height: 2em;
  font-size: 0.5em;
  text-align: start;
  text-transform: uppercase;
  color: rgba(256, 256, 256, 0.6);
  letter-spacing: 0.25em;
}

/* Logo */
.pfLogoWrapper {
  height: 64px;
  width: 64px;
}

.pfLogo {
  margin-top: 0.5em;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.pfTitle {
  font-family: "Clash Display", sans-serif;
  font-size: 2.75vw;
  font-weight: 500;
  line-height: 1.1em;
  color: #fff;
}

.pfLink {
  margin: 1em 0.5em;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(256, 256, 256, 0.6);
  letter-spacing: 0.15em;
  transition: 0.3s;
}

.pfLink:hover {
  color: #fff;
}

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
  .pfCard {
    min-height: 55vh;
    min-width: 85vw;
    margin-right: 1.5em;
  }

  .pfTitle {
    font-size: 2.25em;
  }
}

/* Devices with 600px width and below. (Phones and Tablets) */
@media only screen and (max-width: 600px) {
  .pfCard {
    padding: 1.75em;
    min-height: 55vh;
    min-width: 85vw;
    margin-right: 1.5em;
  }

  .pfTitle {
    font-size: 1.5em;
  }

  .roles {
    font-size: 0.75em;
  }

  .pfLogoWrapper {
    height: 50px;
    width: 50px;
  }

  .pfLink {
    margin: 0.5em 0.25em;
    font-size: 0.1em;
  }
}

/* Devices starting with 1400px width and above. (Phones and Tablets) */
@media only screen and (min-width: 1400px) {
  .pfWrapper:hover > :not(:hover) {
    opacity: 0.7;
    filter: blur(1.5px);
  }
}
