/* Logo Video */
.logoWrapper {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  z-index: -1;
}

.logoVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #999;
}

/* Devices with 415px width and below. (Phones and Tablets) */
@media only screen and (max-width: 415px) {
  .logoWrapper {
    top: -7%;
  }
}
