/* Info Page */
#info {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

#aboutMe {
  padding-top: 15em;
  text-align: start;
}

/* Biography */
.infoOccupation {
  width: 50%;
  font-size: 1.5em;
  font-weight: 600;
}

.infoShape,
.infoPassion {
  width: 50%;
  margin-top: 1.25em;

  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.75;
}

/* Approach */
#approach {
  padding-top: 10em;
  text-align: start;
}

.infoProvide {
  font-size: 1.2em;
  font-weight: 500;
}

#infoProcess {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.processContainer {
  width: 100%;
}

/* Process Description */
.processWrapper {
  display: flex;
  align-items: center;
}

.processNum {
  font-family: "Clash Display", sans-serif;
  color: #555;
}

.processDesc {
  width: 75%;
  color: #fff;
  opacity: 0.75;
  font-size: 0.9em;
  font-weight: 500;
}

.layers {
  width: 25%;
}

/* Borders */
#leftBorder {
  width: 1em;
  height: 5em;
  border: 0.5px solid #555;
  position: relative;
  margin-right: 1em;
}

#leftBorder:after {
  content: "";
  display: block;
  position: absolute;
  width: 1em;
  background-color: #040508;
  left: 5px;
  top: -1px;
  bottom: -1px;
  z-index: 1;
}

#rightBorder {
  width: 1em;
  height: 5em;
  border: 0.5px solid #555;
  position: relative;
  margin-left: 1em;
}

#rightBorder:after {
  content: "";
  display: block;
  position: absolute;
  width: 1em;
  background-color: #040508;
  right: 5px;
  top: -1px;
  bottom: -1px;
  z-index: 1;
}

/* Contact */
#contact {
  padding-top: 10em;
  padding-bottom: 5em;
  text-align: start;
}

.contactMe {
  font-size: 3em;
  color: #fff;
}

.contactContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactDesc {
  width: 60%;
}

#speechBubble {
  width: 40%;
  height: 100%;
}

.contactMailWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactMail {
  position: absolute;
  color: #fff;
  font-size: 1.25em;
  background-color: transparent;
  border: none;
}

#mail {
  line-height: 30px;
  border-bottom: 1px solid #fff;
}

.contactMail:hover {
  cursor: pointer;
}

/* Descriptions */
.infoDesc {
  color: #fff;
}

/* Subheaders */
.subheading {
  text-align: start;
  color: #fff;
  opacity: 0.6;
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
  height: 2em;
}

/* Devices with 1400px width and below. (Laptops and Desktops) */
@media only screen and (max-width: 1400px) {
}

/* Devices with 768px width and below. (Phone and Tablets) */
@media only screen and (max-width: 768px) {
  /* Info Page */
  #info {
    width: 100%;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  /* Biography */
  .infoOccupation {
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
  }

  .infoShape,
  .infoPassion {
    width: 100%;
    font-size: 1.1em;
    opacity: 0.8;
  }

  /* Borders */
  /* Delete when ready to make vertical */
  #leftBorder,
  #leftBorder::after,
  #rightBorder,
  #rightBorder::after {
    display: none;
  }

  /* Approach */
  .infoProvide {
    font-size: 1.2em;
    font-weight: 600;
  }

  #infoProcess {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Process Description */
  .processContainer {
    margin: 1.25em 0;
  }

  .processWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contact */
  #contact {
    padding-bottom: 3em;
  }

  .contactMe {
    text-align: start;
    font-size: 2.5em;
    color: #fff;
  }

  .contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #contactDesc {
    width: 100%;
  }

  #speechBubble {
    margin-top: 1em;
    width: 100%;

  }

  .contactMail {
    font-size: 1.1em;
  }

  #mail {
    line-height: 25px;
    border-bottom: 1px solid #fff;
  }

  .subheading {
    font-size: 0.6em;
    height: 2.5em;
  }
}
