/* Portfolio */
#info {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    "left tunnel right"
    ". mail .";
}

.infoDescription {
  grid-area: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tunnelWrapper {
  grid-area: tunnel;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tunnel {
  max-width: 100%;
  height: auto;
}

.infoAvailability {
  grid-area: right;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactLink,
.contactMail {
  grid-area: mail;
  color: rgba(256, 256, 256, 0.75);
  font-size: 0.9em;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;

  background-color: transparent;
  text-decoration: none;
}

.contactMail {
  padding: 0.75em 2em;
  border: 0.5px solid rgba(256, 256, 256, 0.3);
  border-radius: 5em;
}

.sbText {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  opacity: 0.3;
}

.descText {
  padding: 0.5em 4em;
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.05em;
  text-align: justify;
  letter-spacing: -0.02px;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  #info {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .infoDescription {
    margin-top: 10em;
  }

  .infoAvailability {
    margin-bottom: 15em;
  }

  .descText {
    padding: 1em 4em;
    font-size: 0.95em;
  }

  .contactLink,
  .contactMail {
    position: absolute;
    left: 50%;
    bottom: 11%;
    transform: translateX(-50%);
  }

  .hidden {
    display: none;
  }
}
