/* Header */
#header {
  position: fixed;
  width: 100%;
  color: #fff;
  margin-top: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNameWrapper {
  height: 100%;
  margin-left: 2em;
  display: flex;
  align-items: flex-end;
}

#headerName {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

#headerPronoun {
  color: #555;
  margin-left: 1em;
  margin-bottom: 0.25em;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: -0.02em;
}

#headerInfoLink {
  height: 100%;
  margin-right: 2em;
  color: #fff;
  text-decoration: none;
}

.headerInfo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
}

#headerInfo {
  text-transform: uppercase;
  letter-spacing: -0.02em;
  margin-right: 0.5em;
}

.hidden {
  color: #222 !important;
  background: #222 !important;
}

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
  #header {
    margin-top: 1.25em;
  }

  .headerNameWrapper {
    margin-left: 1.25em;
  }

  #headerName {
    font-size: 1em;
    letter-spacing: -0.03em;
  }

  #headerPronoun {
    margin-left: 1em;
    font-size: 0.6em;
    font-weight: 200;
  }

  #headerInfoLink {
    margin-right: 1.25em;
  }

  .headerInfo {
    font-size: 0.7em;
  }
}
