/* Tunnel */
.portalWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 1;
  z-index: -1;
}

.portal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: '../../../images/speech-bubble.svg';
}

/* Media Queries */

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
  .portalWrapper {
    opacity: 0.75;
  }
}

@media only screen and (max-width: 468px) {
}
