/* Tunnel */
#tunnelWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Media Queries */

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
  .tunnelSvg {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 468px) {
  #tunnelWrapper {
    top: 46%;
  }

  .tunnelSvg {
    transform: scale(0.75);
  }
}
