/* Portfolio Container */
#portfolio {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

#portfolioContainer {
  width: 100%;
  margin-left: 2em;
  margin-right: 2em;
}

.sloganDesc {
  text-align: start;
  color: #ddd;
  font-size: 1.1em;
  letter-spacing: -0.3px;
  font-weight: 700;
}

/* Portfolio Elements */
.portfolioMenu {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.portfolioLinkWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25em;
}

.portfolioLink {
  position: relative;
  width: 30%;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  color: #555;
  font-size: 0.9em;
  text-transform: uppercase;
}

#playground {
  margin-top: 1.75em;
  margin-bottom: 3em;
}

/* Portfolio Description */
.portfolioDesc {
  display: none;
  width: 30%;
}

.portfolioLink:hover,
.portfolioLink:focus,
.portfolioLink:active {
  margin-top: 0.75em;
  background: -webkit-linear-gradient(left, #2c73fe, #89cff0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolioLink:hover + .portfolioDesc,
.portfolioLink:focus + .portfolioDesc,
.portfolioLink:active + .portfolioDesc {
  display: block;
}

#desc {
  color: #bbb;
  font-weight: 400;
  text-align: start;
  font-size: 0.9em;
}

/* Used for displaying a bullet point beside PF elements */
/* .portfolioLink:hover > .activeLink {
  display: block;
  position: absolute;
  color: #fff;
  left: -1.25em;
  font-weight: 900;
} */

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
  #portfolioContainer {
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  #slogan {
    margin-bottom: 1.25em;
  }

  .sloganDesc{
    font-size: 0.95em;
  }

  .portfolioLinkWrapper {
    display: block;
  }

  .portfolioLink {
    width: 100%;
    font-size: 0.8em;
  }

  .portfolioDesc {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  #playground {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  #desc {
    font-size: 0.75em;
  }
}
