@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@import url("https://fonts.cdnfonts.com/css/clash-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #555; */
}

body {
  width: 100vw;
  background-color: #111;
}

.App {
  width: 100%;
  position: relative;
  text-align: center;
  scroll-behavior: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}
