* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #555; */
}

body {
  width: 100vw;
  background: #222;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.noisyBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.noisyBackground::after {
  content: "";
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -50%;
  left: -50%;
  background-image: url("./images/noise.png");
  opacity: 0.4;
  z-index: -1;
}
