/* Tunnel */
.duneWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}

.dune {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries */

/* Devices with 768px width and below. (Phones and Tablets) */
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 468px) {
}
